html,body { 
background: url(../imagens/médico.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
nav{
	background-color: transparent;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}
.container{
height: 100%;
align-content: center;
}

.card{
height: 700px;
margin-top: auto;
margin-bottom: auto;
width: 680px;
background-color: rgba(0, 0, 0, 0.8) !important;
}


.card-header h3{
color: white;
}

.form-control {
margin: 5px;

}
.card-body label{
	float: left;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
label{color: white;}

.btn{
color: white;
background-color: black;

}

.login_btn:hover{
color: black;
background-color: grey;
}

.links{
	color: white;
}
.links a{
margin-left: 4px;
color: white;
}